:root {
  --titles: 'Satisfy';
  --primary-font: 'Orbit';
  --lg-text: 'Space Grotesk';
  --li-font-size: 1rem;
  --padding-nav-items: 1rem 5rem;
  --header-h: 150px;
  --footer-h: 140px;
  /* --background-color: #0a0a0a; */
  --background-color: #171717;
  /* --background-color: #282725; */
  --text-color: #e4e2dd;
  --text-color-grey-title: #d7d7d6;
  --vara-stroke: #e4e2dd;
  --transition: 0.2s ease-in;
  --color-titles: #dfff56;
  --color-titles-dark: #51690b;
  --color-red-highlight: #d60808;
  --color-yellow-highlight: #ffff00;
}

.welcome-text {
  width: 80%;
  /* display: none; */
}

/* .welcome-text
  svg
  path:not([stroke='transparent']):not([stroke='none']):not(
    [stroke-opacity='0']
  ) {
  stroke: var(--vara-stroke) !important;
} */

/* .welcome-text svg path[stroke='transparent'],
.welcome-text svg path[stroke='none'],
.welcome-text svg path[stroke-opacity='0'] {
  stroke: transparent !important;
} */

/*******GENERAL STYLING********/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* [data-blur-on-scroll].blurred {
  filter: blur(5px);
  transition: filter 0.3s ease;
} */

[data-blur-on-scroll].blurred {
  /* filter: blur(3px); */
  /* transition: filter 0.5s; */
  opacity: 0.3;
}

.transition {
  transition: 0.2s ease-in;
}

/* html {
  font-size: clamp(14px, 0.8vw + 0.5rem, 20px);
} */

html,
body {
  height: 100%;
  /* scroll-snap-type: y mandatory; */
  /* scroll-padding: var(--header-h) 0 var(--footer-h); */
  background: var(--background-color);
}

h2 {
  /* font-family: var(--titles); */
  font-family: var(--primary-font);
  font-size: 2.1rem;
  color: var(--text-color);
  cursor: default;
  color: var(--color-titles);
}

button {
  cursor: pointer;
}

.section-wrapper {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.hide {
  display: none;
}

/*******************HEADER*******************/

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: opacity 0.7s ease-in-out;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: var(--padding-nav-items);
  padding-bottom: 0;
}

nav > a {
  font-family: var(--primary-font);
  font-size: 1.3rem;
  color: var(--text-color);
  text-decoration: none;
  height: fit-content;
}

nav div span {
  color: var(--color-red-highlight);
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

nav ul li {
  list-style: none;
  font-size: var(--li-font-size);
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: flex-end;
  padding: 8px;
}

nav ul > li a {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}

nav ul li a > img {
  width: 20px;
}

.animate-icon {
  animation: rotate 2s linear infinite;
}

nav ul li > a:hover img {
  animation: rotate 2s linear infinite;
}

.dark-mode-img {
  margin-top: 20px;
  cursor: pointer;
  width: 25px;
  transition: 0.2s ease-in-out;
}

.dark-mode-img:hover {
  transform: scale(1.2);
}

nav ul a {
  color: var(--text-color);
  font-family: var(--primary-font);
}

/*******************LANDING PAGE*******************/
.landing-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* scroll-snap-type: y proximity; */
  padding: 0 10rem;
  /* margin-bottom: 50px; */
}

.intro-text {
  /* width: 45%; */
  /* width: 30%;
  aspect-ratio: 1; */
  /* border: 0.5px solid var(--color-titles); */
  text-align: center;
  opacity: 0;
  /* opacity: 1; */
  transition: 1s ease-in-out;
  font-family: var(--primary-font);
  color: var(--text-color);
  font-size: 1.2rem;
  color: var(--color-titles);
}

.intro {
  width: 20%;
  aspect-ratio: 1;
  border: 0.5px solid var(--color-titles);
  position: relative;
}

.intro div {
  position: absolute;
  color: var(--color-titles);
  font-family: var(--primary-font);
  padding: 10px;
}

/*********CHANGE THIS TO VARIABLE***********/
.opacity-1 {
  opacity: 1;
}

/*******************PROJECTS*******************/

.project-main {
  margin-top: 8rem;
}

.projects,
.about,
.project-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  position: relative;
}

.about.visible,
.projects.visible,
.project-container.visible,
.project-img-wrapper img.visible,
nav.visible,
footer.visible {
  opacity: 1;
}

.project-img-wrapper {
  position: absolute;
  right: 0;
  bottom: 50%;
  padding: var(--padding-nav-items);
  width: 35%;
}

.project-img-wrapper img {
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.projects h4 {
  font-size: 1.25rem;
  font-weight: 400;
  font-family: var(--lg-text);
  color: var(--text-color-grey-title);
  cursor: default;
}

.project-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  margin-block-end: 1rem;
}

.project-card:not(:last-child) {
  margin-block-end: 1rem;
}

.project-card p {
  font-family: var(--lg-text);
  color: #9f9f9e;
  font-size: clamp(0.75rem, 1rem, 1.2rem);
  cursor: default;
  line-height: 25px;
}

.tools-used span {
  color: rgb(105, 105, 105);
  font-family: monospace;
  display: inline;
}

.project-btns {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.external-links {
  display: flex;
  align-items: flex-end;
  font-family: var(--lg-text);
  gap: 1rem;
  font-weight: 300;
}

.external-links a {
  display: flex;
  gap: 5px;
  color: rgb(105, 105, 105);
}

.project-btns img {
  width: 0.8rem;
}

.read-more-btn {
  font-family: var(--lg-text);
  font-weight: 400;
  color: #9f9f9e;
}

/*******************ABOUT*********************/

.about img {
  width: 100%;
  /* display: none; */
}

.about-img-wrapper {
  transition: filter 3s ease;
  /* transition: filter var(--transition) ease; */
}

.blur {
  filter: blur(4px);
}

.about-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.about-text {
  /* opacity: 0; */
  font-family: var(--lg-text);
  font-weight: lighter;
  color: #9f9f9e;
  /* transition: 1s ease-in-out; */
}

/********************INDIVIDUAL PROJECT PAGE****************/

.project-container {
  color: var(--text-color-grey-title);
  font-family: var(--lg-text);
}
.project-wrapper {
  margin-bottom: 10rem;
}

.project-header {
  backdrop-filter: blur(3px);
}

.project-container h2 {
  font-size: 2rem;
}

.project-container h4,
.project-container h5,
.project-container h6 {
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: capitalize;
}

.project-container h5 {
  margin-top: 1rem;
  font-size: 1.1rem !important;
}

.project-container h6 {
  margin-top: 0.8rem;
  font-size: 1rem !important;
}

.project-container ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 1rem 0rem 1rem 1rem;
}

.project-container li {
  line-height: 25px;
  color: #9f9f9e;
}

.tools-used {
  width: fit-content;
  text-transform: uppercase;
  cursor: default;
  margin-top: 0.5rem;
}

.progress-bar-container {
  position: absolute;
  top: 0;
  height: 2px;
  width: 100%;
  z-index: 10;
  transition: var(--transition);
  background-color: var(--color-titles);
}

.progress {
  animation: scaleProgress auto linear;
  animation-timeline: scroll(root);
}

.research-question {
  margin-top: 0.5rem;
  padding: 10px 5px 10px 20px;
  background-color: var(--text-color-grey-title);
  color: #3e3e3e !important;
  font-style: italic;
  border-left: 0.25rem solid var(--color-titles-dark);
}

.section-project-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.result-card li {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.result-card ul {
  padding: unset;
  gap: 50px;
  margin-top: 40px;
}

.result-card span {
  font-size: 2rem;
  font-family: var(--primary-font);
  color: var(--color-titles-dark);
}

/********PROJECT TIMELINE********/
.project-timeline-container {
  position: fixed;
  right: 0;
  top: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: var(--padding-nav-items);
  height: 350px;
  font-family: var(--primary-font);
  font-size: 0.85rem;
}

.project-timeline {
  height: 100%;
  background: #9f9f9e;
  width: 1px;
}

.project-timeline-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.project-timeline-wrapper li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  text-transform: lowercase;
  color: #9f9f9e;
}

.timeline-nav-link {
  cursor: pointer;
  transition: var(--transition);
}

.timeline-bar {
  display: flex;
  width: 30px;
  height: 1px;
  background: #9f9f9e;
}

.short-timeline-bar {
  display: flex;
  width: 18px;
  height: 1.5px;
  background: #9f9f9e;
}

#overview,
#research,
#improvements {
  scroll-margin-top: 8rem;
}

.current-link {
  font-size: 1rem;
  color: var(--text-color) !important;
}

/**CIRCULAR PROGRESS**/

.result-article {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.sus-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.circular-bar {
  width: 25%;
  aspect-ratio: 1;
  background: conic-gradient(
    var(--color-titles-dark) 1.5deg,
    var(--text-color-grey-title) 0deg
  );
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circular-bar::before {
  content: '';
  position: absolute;
  width: 110px;
  height: 110px;
  background: var(--text-color);
  border-radius: 50%;
  box-shadow:
    inset 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    inset -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.score {
  z-index: 10;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #3e3e3e;
}

/*******IMAGE SLIDER*******/

.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: auto;
  box-shadow: 0 2px 4px var(--text-color-grey-title);
  margin-top: 10px;
}

.image-container {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.image-container img {
  width: 100%;
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #3e3e3e;
  font-size: 20px;
  opacity: 0.5;
  cursor: pointer;
  transition: var(--transition);
}

.btn.prev {
  left: 10px;
}

.btn.next {
  right: 10px;
}

.btn:hover {
  opacity: 1;
}

/*******************FOOTER*******************/
footer {
  padding: var(--padding-nav-items);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: var(--li-font-size);
  /* opacity: 0; */
  transition: opacity 0.7s ease-in-out;
  /* backdrop-filter: blur(1px); */
}

footer ul li {
  list-style: none;
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

footer a {
  color: var(--text-color);
  font-family: var(--primary-font);
}

footer img {
  width: 20px;
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/***********ANIMATIONS************/
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes scaleProgress {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

/******MEDIA QUERIES********/
@media (max-width: 480px) {
  .body-home {
    height: 100%;
  }
  /* html {
    height: 100%;
  } */
  main {
    height: 100%;
    display: flex;
  }

  header:not(.header-home) {
    position: sticky;
    top: 0;
  }

  html:not(.home-html) {
    height: unset;
  }

  footer:not(.footer-home) {
    position: unset;
  }

  h2 {
    font-size: 1.3rem !important;
  }

  h4 {
    font-size: 1.2rem !important;
  }

  nav {
    padding: 1rem 2rem;
    backdrop-filter: blur(3px);
  }

  nav > a {
    height: fit-content;
    font-size: 1rem;
    font-weight: bolder;
  }

  nav > a > div {
    display: flex;
    gap: 5px;
  }

  nav ul li {
    padding: unset;
    font-size: 1rem;
  }

  footer {
    /* position: unset; */
    padding: 1rem 2rem;
    font-size: 1rem;
  }

  /* p {
    font-size: 1rem;
    letter-spacing: unset;
  } */

  .projects {
    position: relative;
  }

  .landing-page {
    /* gap: 1rem; */
    /* align-items: unset; */
    min-height: unset;
    padding: 0 2rem;
    /* height: calc(100%); */
  }

  .welcome-text {
    width: 80%;
    min-height: 10px;
    /* display: block; */
    /* display: none; */
    /* margin: 0 auto; */
  }

  .intro-text {
    width: unset;
    /* text-align: start; */
    font-size: 1rem;
    /* display: none; */
  }

  .section-wrapper {
    max-width: 100%;
    align-items: flex-start;
    justify-content: unset;
  }

  .projects {
    padding: 0 2rem;
    gap: 20px;
    /* top: 122px; */
    /* margin-block-start: 122px; */
  }

  .projects,
  .about,
  .project-container {
    min-height: unset;
    margin-bottom: 4rem;
    margin-top: 2rem;
  }

  .project-img-wrapper {
    display: none;
  }

  .project-card {
    max-width: unset;
  }

  .project-card p {
    font-size: clamp(0.85rem, 1rem, 1.1rem);
    margin-bottom: 0.5rem;
  }

  .tools-used {
    font-size: 0.75rem;
  }

  .project-btns {
    font-size: 1rem;
  }

  .project-container {
    padding: 0 2rem;
  }

  .about {
    padding: 0 2rem;
  }

  .about-wrapper {
    max-width: unset;
  }

  .about-text-wrapper {
    font-size: 1rem;
  }

  .project-main {
    margin-top: 2rem;
  }

  .project-wrapper {
    margin-bottom: 2rem;
  }

  .project-container {
    margin-bottom: unset;
  }

  .progress-bar-container {
    height: 3px;
  }

  .project-timeline-container {
    display: none;
  }
}

/*******CHAT*****/

.section-chatbox {
  display: none;
  width: 100%;
  max-height: 60vh;
  overflow-y: scroll;
  position: relative;
}

.send-a-message {
  width: 100%;
  min-height: 20px;
  /* padding: 9px 18px 11px; */
  /* margin: 5px 10px; */
  background-color: var(--background-color);
  /* border: 1px solid var(--text-color); */
  /* border-radius: 21px; */
  position: sticky;
  bottom: 0;
  margin-top: 20px;
}

.send-a-message img {
  max-width: 40px;
}

.contact-container {
  /* background: #27ae60; */
  background: var(--background-color);
  width: 100%;
  /* height: 100vh; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;

  /* flex-direction: column; */
}

#input-container {
  width: 100%;
  max-width: 500px;
  min-height: 50px;
  box-sizing: border-box;
  padding: 9px 18px 11px;
  /* margin: 5px 10px; */
  /* margin: 5px auto; */
  background-color: var(--text-color);
  border-radius: 0.5em;
  font-family: var(--lg-text);
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--background-color);
}

.input-text-group {
  position: relative;
}

.placeholder {
  color: #a0a0a0;
  top: 0;
  pointer-events: none;
  user-select: none;
  position: absolute;
  opacity: 0;
  transition: 0.2s padding ease-in-out;
}

#input-text {
  overflow-x: hidden;
  overflow-y: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  z-index: 1;
  max-height: 100px;
  min-height: 20px;
  padding: 0 0 0 2px;
  outline: 0;
  transition: 0.2s padding ease-in-out;
}

#input-text:empty + .placeholder {
  opacity: 1;
}

#input-text:focus + .placeholder {
  padding: 0 6px 0px;
}

#input-text:focus {
  padding: 0 6px 0px;
}

.chatbox {
  font-weight: 300;
  font-size: 0.85rem;
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
  display: grid;
}

.chatbox > div {
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chatbox span {
  font-size: 0.6rem;
  margin-top: 0.5rem;
  color: var(--text-color-grey-title);
}

.chatbox > div:nth-child(even) {
  justify-self: start;
}

.section-wrapper {
  width: 100%;
}

.tooltip1 {
  color: var(--text-color);
  max-width: 35ch;
  font-family: var(--lg-text);
  /* text-align: center; */
}
.tooltip1 {
  --s: 0.5em; /* triangle size */
  --r: 0.5em;

  padding: 1em;
  border: var(--s) solid #0000;
  border-radius: calc(var(--r) + var(--s));
  border-bottom-right-radius: 0;
  background: border-box linear-gradient(45deg, #075e54, #075e54); /* the coloration */
  -webkit-mask:
    radial-gradient(100% 100% at 100% 0, #0000 99%, #000 102%) 100%
      calc(100% - var(--s)) / var(--s) var(--s) no-repeat border-box,
    linear-gradient(#000 0 0) padding-box;
}

.tooltip2 {
  color: #9f9f9e;
  max-width: 45ch;
  font-family: var(--lg-text);
}

.tooltip2 {
  --s: 0.5em; /* triangle size */
  --r: 0.5em; /*  the radius */
  padding: 1em;
  border: var(--s) solid #0000;
  border-radius: calc(var(--r) + var(--s));
  border-bottom-left-radius: 0;

  background: border-box linear-gradient(-45deg, #262828, #262828);
  /* the coloration */
  -webkit-mask:
    radial-gradient(100% 100% at 0 0, #0000 99%, #000 102%) 0
      calc(100% - var(--s)) / var(--s) var(--s) no-repeat border-box,
    linear-gradient(#000 0 0) padding-box;
}

.code-block {
  font-size: 1rem !important;
}

#code {
  cursor: default;
  white-space: pre-wrap;
  color: var(--text-color);
  /* font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', monospace; */
  font-family: monospace;
  background-color: var(--background-color);
  font-weight: 100;
}

#code::after {
  content: '';
  display: inline-block;
  width: 0.2ch;
  height: 1em;
  margin-left: 2px;
  vertical-align: -2px;
  background: currentColor;
  opacity: 0.8;
  animation: blink 1s steps(1) infinite;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}

/******FONTS*******/

/*****ORBIT****/
@font-face {
  font-family: 'Orbit';
  src:
    url('../assets/fonts/orbit/Orbit-Regular.woff2') format('woff2'),
    url('../assets/fonts/orbit/Orbit-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*****SATISFY****/
@font-face {
  font-family: 'Satisfy';
  src:
    url('../assets/fonts/satisfy/Satisfy-Regular.woff2') format('woff2'),
    url('../assets/fonts/satisfy/Satisfy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*****Space Grotesk****/

@font-face {
  font-family: 'Space Grotesk';
  src:
    url('../assets/fonts/spaceGrotesk/SpaceGrotesk-Medium.woff2')
      format('woff2'),
    url('../assets/fonts/spaceGrotesk/SpaceGrotesk-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src:
    url('../assets/fonts/spaceGrotesk/SpaceGrotesk-Light.woff2') format('woff2'),
    url('../assets/fonts/spaceGrotesk/SpaceGrotesk-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src:
    url('../assets/fonts/spaceGrotesk/SpaceGrotesk-Regular.woff2')
      format('woff2'),
    url('../assets/fonts/spaceGrotesk/SpaceGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src:
    url('../assets/fonts/spaceGrotesk/SpaceGrotesk-SemiBold.woff2')
      format('woff2'),
    url('../assets/fonts/spaceGrotesk/SpaceGrotesk-SemiBold.woff')
      format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src:
    url('../assets/fonts/spaceGrotesk/SpaceGrotesk-Bold.woff2') format('woff2'),
    url('../assets/fonts/spaceGrotesk/SpaceGrotesk-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
