:root {
  --titles: 'Satisfy';
  --primary-font: 'Orbit';
  --lg-text: 'Space Grotesk';
  --li-font-size: 1rem;
  --padding-nav-items: 1rem 5rem;
  --header-h: 150px;
  --footer-h: 140px;
  /* --background-color: #0a0a0a; */
  --background-color: #171717;
  /* --background-color: #282725; */
  --text-color: #e4e2dd;
  --text-color-grey-title: #d7d7d6;
  --vara-stroke: #e4e2dd;
}

.welcome-text {
  width: 80%;
}

/* .welcome-text
  svg
  path:not([stroke='transparent']):not([stroke='none']):not(
    [stroke-opacity='0']
  ) {
  stroke: var(--vara-stroke) !important;
} */

/* .welcome-text svg path[stroke='transparent'],
.welcome-text svg path[stroke='none'],
.welcome-text svg path[stroke-opacity='0'] {
  stroke: transparent !important;
} */

/*******GENERAL STYLING********/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* html {
  font-size: clamp(14px, 0.8vw + 0.5rem, 20px);
} */

html,
body {
  height: 100%;
  scroll-snap-type: y mandatory;
  scroll-padding: var(--header-h) 0 var(--footer-h);
  background: var(--background-color);
}

h2 {
  /* font-family: var(--titles); */
  font-family: var(--primary-font);
  font-size: 2.1rem;
  color: var(--text-color);
}

button {
  cursor: pointer;
}

.section-wrapper {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.hide {
  display: none;
}

/*******************HEADER*******************/
nav {
  display: flex;
  justify-content: space-between;
  padding: var(--padding-nav-items);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

nav > a {
  font-family: var(--primary-font);
  font-size: 1.5rem;
  color: var(--text-color);
  text-decoration: none;
  height: fit-content;
}

nav div span {
  color: #d60808;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

nav ul li {
  list-style: none;
  font-size: var(--li-font-size);
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: flex-end;
  padding: 8px;
}

nav ul > li a {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}

nav ul li a > img {
  width: 20px;
}

.animate-icon {
  animation: rotate 2s linear infinite;
}

nav ul li > a:hover img {
  animation: rotate 2s linear infinite;
}

.dark-mode-img {
  margin-top: 20px;
  cursor: pointer;
  width: 25px;
  transition: 0.2s ease-in-out;
}

.dark-mode-img:hover {
  transform: scale(1.2);
}

nav ul a {
  color: var(--text-color);
  font-family: var(--primary-font);
}

/*******************LANDING PAGE*******************/
.landing-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-type: y proximity;
  padding: 0 10rem;
  /* margin-bottom: 50px; */
}

.intro-text {
  width: 45%;
  text-align: center;
  opacity: 0;
  transition: 1s ease-in-out;
  font-family: var(--primary-font);
  color: var(--text-color);
  font-size: 1.5rem;
}

/*********CHANGE THIS TO VARIABLE***********/
.opacity-1 {
  opacity: 1;
}

/*******************PROJECTS*******************/
.projects,
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 50px;
}

.projects h4 {
  font-size: 1.25rem;
  font-weight: 400;
  font-family: var(--lg-text);
  color: var(--text-color-grey-title);
}

.project-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  z-index: 2;
}

.project-card a {
  text-transform: capitalize;
}

.project-card p {
  font-family: var(--lg-text);
  color: #9f9f9e;
  font-weight: lighter;
  font-size: clamp(0.75rem, 1rem, 1.2rem);
}

.tools-used {
  width: fit-content;
  text-transform: uppercase;
}

.tools-used span {
  color: rgb(105, 105, 105);
  font-family: monospace;
  display: inline;
}

.project-btns {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.external-links {
  display: flex;
  align-items: flex-end;
  font-family: var(--lg-text);
  gap: 1rem;
  font-weight: 300;
}

.external-links a {
  display: flex;
  gap: 5px;
  color: rgb(105, 105, 105);
}

.project-btns img {
  width: 0.8rem;
}

.read-more-btn {
  font-family: var(--lg-text);
  font-weight: 400;
  color: #9f9f9e;
}

/*******************ABOUT*********************/

.about img {
  width: 100%;
  /* display: none; */
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: var(--lg-text);
  font-weight: lighter;
  color: #9f9f9e;
}

/*******************FOOTER*******************/
footer {
  padding: var(--padding-nav-items);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: var(--li-font-size);
}

footer ul li {
  list-style: none;
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

footer a {
  color: var(--text-color);
  font-family: var(--primary-font);
}

footer img {
  width: 20px;
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/***********ANIMATIONS************/
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/******MEDIA QUERIES********/
@media (max-width: 480px) {
  h2 {
    font-size: 1.3rem;
    text-transform: capitalize;
  }

  h4 {
    font-size: 1rem !important;
  }

  nav {
    padding: 1rem;
  }

  nav > a {
    height: fit-content;
    font-size: 1rem;
  }

  nav ul li {
    padding: unset;
    font-size: 1rem;
  }

  footer {
    padding: 1rem;
    font-size: 1rem;
  }

  /* p {
    font-size: 1rem;
    letter-spacing: unset;
  } */

  .landing-page {
    /* gap: 1rem; */
    align-items: unset;
    padding: 0 2rem 0 1rem;
    height: calc(100%);
  }

  .welcome-text {
    width: 80%;
    min-height: 10px;
    display: block;
    /* margin: 0 auto; */
  }

  .intro-text {
    width: unset;
    text-align: start;
    font-size: 1rem;
  }

  .section-wrapper {
    max-width: 100%;
    align-items: flex-start;
  }

  .projects {
    padding: 0 2rem 0 1rem;
    gap: 20px;
  }

  .project-card {
    max-width: unset;
  }

  .project-card p {
    font-size: clamp(0.75rem, 0.8rem, 1rem);
  }

  .project-btns {
    font-size: 1rem;
  }

  .about {
    padding: 0 2rem 0 1rem;
  }

  .about {
    margin-top: 2rem;
  }

  .about-wrapper {
    max-width: unset;
  }

  .about-text {
    font-size: 1rem;
  }
}

/******FONTS*******/

/*****ORBIT****/
@font-face {
  font-family: 'Orbit';
  src: url('/assets/fonts/orbit/Orbit-Regular.woff2') format('woff2'),
    url('/assets/fonts/orbit/Orbit-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*****SATISFY****/
@font-face {
  font-family: 'Satisfy';
  src: url('/assets/fonts/satisfy/Satisfy-Regular.woff2') format('woff2'),
    url('/assets/fonts/satisfy/Satisfy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*****Space Grotesk****/

@font-face {
  font-family: 'Space Grotesk';
  src: url('/assets/fonts/spaceGrotesk/SpaceGrotesk-Medium.woff2')
      format('woff2'),
    url('/assets/fonts/spaceGrotesk/SpaceGrotesk-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('/assets/fonts/spaceGrotesk/SpaceGrotesk-Light.woff2')
      format('woff2'),
    url('/assets/fonts/spaceGrotesk/SpaceGrotesk-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('/assets/fonts/spaceGrotesk/SpaceGrotesk-Regular.woff2')
      format('woff2'),
    url('/assets/fonts/spaceGrotesk/SpaceGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('/assets/fonts/spaceGrotesk/SpaceGrotesk-SemiBold.woff2')
      format('woff2'),
    url('/assets/fonts/spaceGrotesk/SpaceGrotesk-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('/assets/fonts/spaceGrotesk/SpaceGrotesk-Bold.woff2') format('woff2'),
    url('/assets/fonts/spaceGrotesk/SpaceGrotesk-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
