:root {
  --primary-font: 'Orbit';
  --handwritten: 'Satisfy';
  --li-font-size: 0.75rem;
  --padding-nav-items: 1rem 5rem;
  --header-h: 150px;
  --footer-h: 140px;
  --background-color: #0a0a0a;
  --text-color: #e4e2dd;
  --text-color-grey-title: #d7d7d6;
  --vara-stroke: #e4e2dd;
}

.test-vara {
  width: 80%;
}

.test-vara
  svg
  path:not([stroke='transparent']):not([stroke='none']):not(
    [stroke-opacity='0']
  ) {
  stroke: var(--vara-stroke) !important;
}

.test-vara svg path[stroke='transparent'],
.test-vara svg path[stroke='none'],
.test-vara svg path[stroke-opacity='0'] {
  stroke: transparent !important;
}

/*******GENERAL STYLING********/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: clamp(14px, 0.8vw + 0.5rem, 20px);
}

html,
body {
  height: 100%;
  scroll-snap-type: y mandatory;
  scroll-padding: var(--header-h) 0 var(--footer-h);
  /* background-color: #e4e2dd; */
  /* background: #0b0b0d; */
  color: var(--text-color);
  background: var(--background-color);
}

h2 {
  font-family: var(--handwritten);
  font-size: 2.1rem;
}

button {
  cursor: pointer;
}

.hide {
  display: none;
}

/*******************HEADER*******************/
nav {
  display: flex;
  justify-content: space-between;
  padding: var(--padding-nav-items);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

nav > a {
  font-size: 1.3rem;
  /* font-weight: bold; */
  font-family: monospace;
  /* color: black; */
  color: var(--text-color);
  text-decoration: none;
}

nav div span {
  color: #d60808;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

nav ul li {
  list-style: none;
  font-size: var(--li-font-size);
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: flex-end;
  padding: 8px;
}

nav ul > li a {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}

nav ul li a > img {
  width: 20px;
}

.animate-icon {
  animation: rotate 2s linear infinite;
}

nav ul li > a:hover img {
  animation: rotate 2s linear infinite;
}

.dark-mode-img {
  margin-top: 20px;
  cursor: pointer;
  width: 25px;
  transition: 0.2s ease-in-out;
}

.dark-mode-img:hover {
  transform: scale(1.2);
}

nav ul a {
  color: var(--text-color);
  font-family: var(--primary-font);
}

/*******************LANDING PAGE*******************/
.landing-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-type: y proximity;
  padding: 0 10rem;
  margin-bottom: 50px;
  /* background-image: url(/assets/images/main.png);
  background-position: center; */
}

.intro-text {
  width: 45%;
  text-align: center;
  opacity: 0;
  transition: 1s ease-in-out;
  font-family: var(--primary-font);
  color: var(--text-color);
}

h1 {
  font-size: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.landing-text p {
  font-size: 1.2rem;
  margin-top: 20px;
  font-family: var(--primary-font);
}

/*******************PROJECTS*******************/
.projects,
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 50px;
}

.projects h4 {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: var(--primary-font);
  color: var(--text-color-grey-title);
}

.project-card {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.project-card span {
  color: rgb(105, 105, 105);
  font-family: monospace;
  font-size: 0.7rem;
}

.project-card a {
  color: rgb(105, 105, 105);
  font-size: 0.8rem;
  text-transform: capitalize;
}

.project-card p {
  font-size: 0.75rem;
  font-family: monospace;
  color: #9f9f9e;
}

/*******************ABOUT*********************/
.about-wrapper {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.about-wrapper img {
  width: 100%;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 0.75rem;
  font-family: var(--primary-font);
}

.about-img-wrapper {
  position: relative;
}

.about-img-wrapper svg {
  position: absolute;
  left: 10px;
  top: 10px;
  width: fit-content;
}

/*******************FOOTER*******************/
footer {
  padding: var(--padding-nav-items);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: var(--li-font-size);
}

footer ul li {
  list-style: none;
}

footer a {
  color: var(--text-color);
  display: flex;
  align-items: flex-end;
  gap: 10px;
  font-family: var(--primary-font);
}

footer img {
  width: 20px;
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/***********ANIMATIONS************/
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/******MEDIA QUERIES********/
@media only screen and (max-device-width: 480px) {
  nav {
    padding: 1rem;
  }

  nav ul li {
    padding: unset;
  }

  footer {
    padding: 1rem;
  }

  p {
    font-size: 0.8rem;
    letter-spacing: unset;
  }

  /* svg {
    display: none;
  } */

  .test-vara {
    width: unset;
  }

  .landing-page {
    padding: 0 2rem;
  }

  .intro-text {
    width: unset;
  }

  .projects {
    padding: 0 2rem;
    gap: 20px;
  }

  .project-card {
    max-width: unset;
  }

  .about {
    padding: 0 2rem;
  }

  .about-wrapper {
    max-width: unset;
  }
}

/******FONTS*******/
@font-face {
  font-family: 'Orbit';
  src: url('/assets/fonts/orbit/Orbit-Regular.woff2') format('woff2'),
    url('/assets/fonts/orbit/Orbit-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satisfy';
  src: url('/assets/fonts/satisfy/Satisfy-Regular.woff2') format('woff2'),
    url('/assets/fonts/satisfy/Satisfy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
