@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@plugin '@tailwindcss/typography';

:root {
  --text-titles: 'Cormorant', serif;
  --text-body: 'Nunito Sans', sans-serif;
  --light-bg: #f7f7f7;
  --dark-bg: #0f0d0e;
  --light-hover: #3e393b;
  --dark-hover: #f0eeee;
  --dark-primary: #d4d3d3;
  --accent: #f30c80;
}

body {
  @apply flex justify-center bg-(--light-bg) text-(--dark-bg) selection:bg-(--accent) selection:text-(--light-bg) dark:bg-(--dark-bg) dark:text-(--dark-primary);
}

#root {
  @apply m-4 flex flex-col justify-center md:max-w-[40%];
}
